* {
  margin: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

.palestina {
  height: 100vw;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bendera {
  position: relative;
  height: 40%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.merah {
  position: absolute;
  height: 100%;
  background-color: red;
  width: 50%;
  transform: rotate(45deg);
  margin-left: -35.2%;
}

.hitam {
  height: 33%;
  background-color: black;
}

.putih {
  height: 34%;
}

.hijau {
  height: 33%;
  background: green;
}
